@import "styles/mixins.scss";

.dashboard {
  padding: 16px;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto 1fr;

  @media (max-width: 900px) {
    display: flex;

    &__sidebar {
      display: none;
    }
  }

  &__sidebar {
    padding: 8px;
    width: 240px;
  }

  &__inner {
    overflow-y: scroll;
    max-height: 100dvh;
    padding: 8px 16px;
    flex: 1;
  }
}
