$breakpoint-xsm: 300px;
$breakpoint-sm: 540px;
$breakpoint-md: 720px;
$breakpoint-lg: 1024px;
$breakpoint-monthly-summary-table-md: 1240px;
$breakpoint-monthly-summary-table-lg: 1300px;
$breakpoint-xl: 1600px;
$breakpoint-xxl: 1920px;
