.button {
  padding-inline: 12px;
  padding-block: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: var(--gray-700);
  transition: 0.3s ease all;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;

  &--invisible {
    background-color: unset;
    &:hover {
      color: var(--gray-800);
    }

    &:focus-visible,
    &:active {
      color: var(--gray-900);
    }
  }

  &--filled {
    background-color: var(--blue-button);
    color: var(--gray-100);

    &:hover {
      background-color: var(--blue-700);
    }

    &:focus-visible {
      outline: 1px solid var(--blue-800);
    }

    &:active {
      background-color: var(--blue-800);
    }
  }
}
