@import "styles/mixins";
.position-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__input {
    outline: none;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid var(--gray-300);
    color: var(--gray-700);
    font-size: 16px;

    &--error {
      border-color: red;
    }

    &:focus {
      border-color: var(--blue-600);
    }
  }

  &__name,
  &__unitprice,
  &__quantity,
  &__unit {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__quanun {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 12px;

    @include sm-max {
      flex-direction: column;
      align-items: flex-start;

      & > * {
        width: 100%;
      }
    }

    & > :nth-child(2) {
      height: 38px;
      width: 100%;
      > * {
        height: 100%;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: end;
    gap: 12px;
  }
}
