@import "styles/mixins";
.estimate-single {
  &__top {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr auto;

    // @include md-max {
    //   display: flex;
    //   flex-direction: column;
    // }
  }

  &__inner {
    margin-top: 12px;
  }

  &__outer {
    margin-top: 32px;
  }
}
